@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');

body{
    background-color: rgb(17, 18, 17);
}
.principal{
    background-color: rgb(230, 229, 186);
    width: 960px;
    margin: auto;
    /*falta definir oq é */
}
header, footer{
    background-color: rgb(199, 222, 149);
}
header h1{
    font-family: "Asimovian", sans-serif;
}
/*para o cabeçalho*/
header{
    width: 960px;
    height: 80px;
    font-size: 25px;
}
/*para o rodapé*/
footer{
    text-align: center;
}
a:hover{
    background-color: rgb(195, 200, 235)
}
a{
    text-decoration: none;
    text-align: center;
}
ul{
    list-style: none;   
    padding: 28px;
    margin: 0;
    display: flex;      
    gap: 30px; 
    text-align: center;
    background-color: rgb(251, 240, 227);
    width: 903px;
    height: 30px;       
}
ul li a {
    text-decoration: none; 
    color: #4550c4;           
    font-size: 18px;
   
}
input[type=text]{
    width: 500px;
    height: 25px;
}
input[type=text]:focus{
    background-color: antiquewhite;
}
.pedido{
    width: 800px;
    height: 50px;
}